NODE_ENV=development
APP_NAME=API_E_BOILERPLATE
APP_PORT=3890

#JWT Token Informations (6days for dev, 1 day for prod)
JWT_KEY=
JWT_DEV_EXPIRE="6day"   
JWT_PROD_EXPIRE="1day"

# PRODUCTION DATABASE
# DB_HOST=
# DB_PORT=3306
# DB_USER=
# DB_PASS=
# DB_NAME=e_boilerplate_prod

# TEST DATABASE
# DB_HOST=
# DB_PORT=3306
# DB_USER=
# DB_PASS=
# DB_NAME=e_boilerplate_test

# LOCAL DATABASE 
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=root
DB_NAME=e_boilerplate_dev

TWILIO_ACCOUNT_SID='ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
TWILIO_AUTH_TOKEN='1cXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
VERIFICATION_SID='VAXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
 
SENDGRID_API_KEY='SG.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'

CLOUDINARY_CLOUD_NAME=''
CLOUDINARY_API_KEY=''
CLOUDINARY_API_SECRET=''

# Mail parameters
SMTP_HOST=''
SMTP_PORT=''
SMTP_EMAIL=''
SMTP_PASSWORD=''

FROM_NAME='Fred Foo 👻'
FROM_EMAIL='fred.foo@test.com'